.content {
    padding: 30px;
}

.part1 {
    margin-right: 60vh;
}

.part1 img {
    position: absolute;
    top: 0;
    right: 0;
    height: auto;
    width: 0vh;
}

.inner-box:last-child {
    overflow-y: auto;
    height: 100%;
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, 0.7) rgba(0, 0, 0, 0);
}

.inner-box:last-child::-webkit-scrollbar {
    width: 8px;
}

.inner-box:last-child::-webkit-scrollbar-track {
    background-color: #e2e2e2;
}

.inner-box:last-child::-webkit-scrollbar-thumb {
    background-color: #0ed145;
}
