
.content {
    padding: 30px;
}

.part1 {
    margin-right: 45vh;
}

.part1 img {
    position: absolute;
    top: 30px;
    right: 30px;
    height: auto;
    width: 40vh;
    border: solid 1px black;
    background-color: white;
}

.dificuldadeNivel {
    color: #0ed145;
}

.dificuldade {
    font-style: italic;
    line-height: 0;
}

.inner-box:last-child {
    overflow-y: auto;
    height: 99.7%;
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, 0.7) rgba(0, 0, 0, 0);
}

.inner-box:last-child::-webkit-scrollbar {
    width: 10px;
}

.inner-box:last-child::-webkit-scrollbar-track {
    background-color: #e2e2e2;
}

.inner-box:last-child::-webkit-scrollbar-thumb {
    background-color: #0ed145;
}