body {
    padding: 3vh;
    padding-top: 2vh;
}

.box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 80vh;
    background-color: #fff;
}

.inner-box {
    height: 100%;
    border: 1px solid black;
}

.inner-box:first-child {
    width: 25%;
}

.inner-box:last-child {
    width: 75%;
    border-left: none;
}

