@media only screen and (max-width: 1000px), only screen and (max-height: 570px) {
    .box {
        display: flex;
        flex-direction: column;
        height: 84vh;
    }

/*barra de pesquisa e tags*/
    .inner-box:first-child {
        height: 93px;
        flex: none;
    }
    
    .tags {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
    }

/*carrossel*/
    .inner-box:nth-child(2) {
        height: 120px;
        flex: none;
    }

    .scroll img {
        display: block;
        width: 300px;
        height: auto; 
        margin: 0;
        object-fit: contain; 
    }

    .scroll {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        overflow-y: hidden;
        scrollbar-width: none;
        align-items: center;
    }

    .scroll div {
        flex: 0 0 auto;
        width: 300px;
    }

/*conteudo*/
    .inner-box:last-child {
        flex-grow: 1;
        overflow-y: auto;
        border-top: none;
        border-left: 1px solid;
    }
}