@media only screen and (max-width: 799px) {
    
    nav img{
        display: none;
    }
    
    
    body {
        padding: 13px;
        margin: 0;
    }
    
    .box {
        display: flex;
        flex-direction: column;
        height: 90vh;
        grid-template-rows: 30% 70%;
    }

/*barra de pesquisa e tags*/
    .inner-box:first-child {
        height: 93px;
        flex: none;
    }

    .tags {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .tagSearch {
        font-size: 12px;
    }

    .tags::-webkit-scrollbar {
        display: none;
    }

/*carrossel*/
    .inner-box:nth-child(2) {
        height: 80px;
        flex: none;
    }

    .scroll img {
        display: block;
        width: 300px;
        height: auto; 
        margin: 0;
        object-fit: contain; 
    }

    .scroll {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        overflow-y: hidden;
        scrollbar-width: none;
        align-items: center;
    }

    .scroll div {
        flex: 0 0 auto;
        width: 200px;
    }

    .scroll::-webkit-scrollbar {
        display: none;
    }

/*conteudo*/
    .inner-box:last-child {
        flex-grow: 1;
        overflow-y: auto;
        border-top: none;
        border-left: 1px solid;
    }

    .inner-box:last-child::-webkit-scrollbar {
        display: none;
    }

    .content {
        padding: 30px;
    }
    
    .part1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0;
    }
    
    .part1 h2, .part1 .dificuldade {
        order: -1;
        line-height: 0;
    }
    
    .part1 img {
        order: 0;
        position: relative;
        top: 0;
        height: auto;
        width: 80vw;
        border: solid 1px black;
        background-color: white;
        margin-left: 6.7vh;
    }
    
    .part1 p {
        order: 1;
    }
}
